.data-set .ant-table-row-cell-ellipsis {
    padding-left: 8% !important;
    width: 50%;
}

.costom-error .ant-select-selection {
    border: 1px solid #f7b5b0 !important;
}

.agent .ant-input {
    height: 30px !important;
    width: 5%;
}
