.timeline-item.activitie-logs {
    .timeline-avatar a .bx {
        margin-top: 4px;
        margin-left: 0.5px;
        font: normal normal normal 12px/1 FontAwesome;
    }

    .timeline-content {
        line-height: 24px;
        font-family: monospace;
        .name {
            font-weight: 500;
            margin-top: -4px;
            a {
                color: $text-color;
            }
            a.active, a:hover {
                color: $primary;
            }
            .pull-right {
                font-weight: 400;
                color: $text-muted;
            }
        }
        .time, .user, .info, .task, .change {
            color: $text-muted;
        }
        .time {
            margin-bottom: 15px;
        }
        .user {
            margin: 5px 0;
            font-family: 'Roboto Mono',Inconsolata,Consolas,Monaco,monospace;
        }
        .info a {
            padding: 2px 5px;
            -webkit-border-radius: $border-radius;
            -moz-border-radius: $border-radius;
            border-radius: $border-radius;
            background: #e2efff;
            font-family: 'Roboto Mono',Inconsolata,Consolas,Monaco,monospace;
        }
        .info a:hover {
            text-decoration: underline;
        }
        .change {
            display: none;
        }
    }
}
