.script-page {
    .checkout-tabs {
        background: #fff;
        height: calc(100vh - 175px);
        max-height: calc(100vh - 175px);
        overflow: hidden;

        .col-auto,
        .tab-content .card {
            height: calc(100vh - 175px);
            max-height: calc(100vh - 175px);
            overflow: auto;
            overflow-x: hidden;
        }

        .tab-content {
            .card {
                border-left: 1px solid $border-color;
            }
        }
    }

    .col-auto {
        padding-right: 0;
    }

    .tab-content {
        padding-left: 0;
    }

    .card,
    .checkout-tabs .nav-pills .nav-link {
        box-shadow: none;
        border-radius: 0;
    }

    .checkout-tabs .nav-pills > li > a {
        color: $text-color;
    }

    .checkout-tabs .nav-pills .nav-link.active {
        color: #fff;
        background-color: $success;
    }

    @media (min-width: 1024px) {
        .ticket-type .featured-articles-list {
            grid-template-columns: 33% 33% 33%;
        }
    }
}
