.page-tabs  {
    position: relative;

    li.notification-create-btn {
        position: absolute;
        right: 20px;
        bottom: 8px;

        .btn {
            margin: 0;
        }
    }
}

.page-notifications {
    box-sizing: border-box;
    margin: 0 0 20px 0;
    padding: 20px 20px;
    background: #fff;
    min-height: 500px;

    .notifications-list.notification-fetch {
        width: 40%;
        min-height: 460px;
        border-right: 0;
    }

    .notifications-list.notification-fetch .item {
        border-bottom: 1px dotted #f5f7fa;
    }

    .notifications-list {
        float: left;
        width: 100%;

        .inner {
            overflow: hidden;
            height: 785px;

            .toolbar {
                display: none;
                overflow: hidden;
                margin: 0;
                padding: 20px 0;
                border-bottom: 1px solid $border-color;
            }
            .items {
                padding: 0;
                list-style-type: none;
            }
        }

        .item {
            padding: 13px 20px;
            word-break: break-all;

            h6 {
                margin: 0;
                font-size: 13px;
                line-height: 22px;
                max-height: 22px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                font-weight: bold;
            }

            .time {
                display: block;
                padding: 3px 0;
            }

            .notification-none h6 {
                font-weight: normal;
                font-style: italic;
                color: #4c5e70;
            }

            .notification-read h6 {
                font-weight: normal;
                color: #4c5e70;
            }
        }

        .item:hover {
            cursor: pointer;
            background: $gray;
        }

        .item.selected {
            background: #e6eff7;
            background: darken($gray, 2%);
        }
    }

    .notifications-content {
        overflow: hidden;
        margin: 0 0 0 42%;
        height: 100%;

        .notification-inner {
            border-left: 1px solid $border-color;
            height: 785px;
        }

        .notification-main {
            overflow: scroll;
            height: 745px;
            padding: 20px 30px;

            .notification-title {
                font-weight: bold;
                font-size: 16px;
                line-height: 30px;
                color: #3f5870;
                border-bottom: 1px solid $border-color;
                padding-bottom: 10px;
                margin-bottom: 20px;
            }

            .notification-time {
                margin: 0;
            }

            .notification-tag {
                margin-left: 8px;
            }

            .notification-content {
                margin-top: 20px;
                font-size: 13px;
                line-height: 1.6em;

                ul, ol {
                    padding: 0;
                    margin: 5px 20px;
                }

                ul li, ol li {
                    list-style-type: disc;
                }

                ul li li, ol li li {
                    margin: 0;
                    list-style-type: circle;
                }

                table {
                    width: 100%;
                    border: 1px solid #e6eff7;
                }

                table th {
                    background: #f5f7fa;
                    font-weight: bold;
                    text-align: left;
                }

                table th, table td {
                    padding: 8px;
                    border-bottom: 1px solid $border-color;
                }
            }

            .btn-close {
                float: right;
                line-height: 16px;
                margin-top: 4px;
            }

            img {
                max-width: 100%;
            }

            .notification-status {
                float: right;
                font-style: italic;
                color: #778592;
                margin-top: 6px;
                padding: 6px 17px;
                background: #fff;
                -webkit-border-radius: 2px;
                -moz-border-radius: 2px;
                border-radius: 2px;
                font-size: 12px;
                line-height: 16px;
            }
        }
    }
}
