.page-idc-detail {
    .idc-detail-content {
        margin: 0 0 20px 0;
        background: #fff;
        min-height: 500px;
        -webkit-box-shadow: 0 1px 2px 0 rgba(161, 171, 181, 0.48), 0 2px 4px 0 rgba(213, 222, 231, 0.64);
        box-shadow: 0 1px 2px 0 rgba(161, 171, 181, 0.48), 0 2px 4px 0 rgba(213, 222, 231, 0.64);

        .idc-detail-basic {
            padding: 20px 20px 0 20px;
        }

        .structure {
            padding: 20px;
            margin-right: -25px;
            border-right: 1px solid $border-color;
        }

        .structure-content {
            overflow: auto;
        }

        .structure-detail {
            border-left: 1px solid $border-color;
            .page-detail-tabs, .page-detail-tabs-content {
                box-shadow: none;
            }

            .structure-detail-box {
                overflow: auto;
            }
        }

        .structure {
            .ant-tree li .ant-tree-node-content-wrapper {
                color: $text-color;
            }
            .ant-tree li span.ant-tree-switcher, .ant-tree li span.ant-tree-iconEle {
                margin-top: -3px;
                color: $text-color;
            }
        }
    }

    .align-self-end .img-thumbnail {
        width: 100% !important;
    }
}
