.ant-dropdown {
    font-size: 12px;
    color: $text-color;

    .ant-table-filter-dropdown {
        border-radius: $border-radius;

        ul li {
            font-size: 12px;
        }

        .ant-checkbox-checked .ant-checkbox-inner {
            border-color: $primary;
            background-color: $primary;
        }
        .ant-checkbox-inner {
            -webkit-transition: all 0s;
            transition: all 0s;
        }
        .ant-checkbox-checked .ant-checkbox-inner::after {
            -webkit-transition: all 0s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0s;
            transition: all 0s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0s;
        }
        .ant-dropdown-menu-item, .ant-dropdown-menu-submenu-title {
            color: $text-color;
        }
    }
    .ant-dropdown-menu-item:hover, .ant-dropdown-menu-submenu-title:hover,
    .ant-dropdown-menu-item-selected, .ant-dropdown-menu-submenu-title-selected, .ant-dropdown-menu-item-selected > a, .ant-dropdown-menu-submenu-title-selected > a {
        color: $primary;
        background-color: #ebf9fb;
    }
}
.ant-table-thead > tr > th.ant-table-column-has-actions.ant-table-column-has-filters .anticon-filter.ant-table-filter-open, .ant-table-thead > tr > th.ant-table-column-has-actions.ant-table-column-has-filters .ant-table-filter-icon.ant-table-filter-open {
    background: #ebf1f8 !important;
}
