.navbar-header .navbar-brand-box .logo {
    .logo-lg {
        margin-left: -20px;

        .logo-text {
            vertical-align: middle;
            font-size: 17px;
            font-weight: 700;
            color: $primary;
        }
    }
}
