pre {
    background: #213140;
    border: none;
    border-radius: 0;
    padding: 20px;
    color: #FFF;
    vertical-align: baseline;
    word-break: break-word;
    text-shadow: 1px 1px 1px rgba(43,56,66,0.3);
    font-weight: 300;
    margin: 20px 0;
}
pre code {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 14px;
    font-family: monospace;
}
 :not(pre) code {
    padding: 2px 4px;
    margin: 0 3px;
    border-radius: 3px;
    color: $text-color;
    font-weight: 600;
    background: #d4d4d4;
    white-space: pre-wrap;
    vertical-align: baseline;
    word-break: break-word;
    box-sizing: border-box;
}
