.card.border {
    border: 1px solid #e2ecf9;
}

.card-header {
    background-color: $gray;

    .dropdown.close {
        float: right;

        .btn.dropdown-toggle {
            border: 0;
            position: absolute;
            right: -20px;
            top: -13px;
            width: 38px;
            height: 39px;
            display: none;
            opacity: 0.5;
            border-radius: 0 $border-radius 0 0;
        }
        .btn.dropdown-toggle:after {
            content: "×";
            border: 0;
        }
        .btn.dropdown-toggle:hover {
            opacity: 1;
        }
        .dropdown-menu {
            background: $gray;
            border: 1px solid #e2ecf9;
            border-radius: $border-radius;

            .btn {
                padding: 2px 10px;
            }

            .b-dropdown-text,
            .b-dropdown-form {
                line-height: 1.5;
                padding: 0.35rem 0.5rem;
            }
        }
    }
}

.card-header:hover .dropdown.close {
    display: inline-block;
}
