.page-toolbar {
    padding: 20px 20px 0px;
    background: #fff;
    min-height: 30px;
    width: 100%;
    vertical-align: top;
    position: relative;
    font-size: 12px;
    -webkit-user-select: none;

    .btn {
        height: 30px;
        margin-right: 5px;
    }
    .btn-actions {
        min-width: 140px;
    }

    .title {
        font-size: 14px;
        font-weight: 600;
        display: inline-block;
        vertical-align: middle;
    }
    .text {
        padding-left: 4px;
    }
    .caret {
        margin-left: 30px;
    }
    > .form-group {
        margin-bottom: 0;
        vertical-align: middle;
        display: inline-block;
        margin-right: 5px;

        > .input-group {
            height: 30px;
            z-index: 1;
            position: inherit;

            .input-group-text {
                padding: 0;
            }
            .form-control {
                height: 30px;
            }
            > textarea {
                padding-top: 8px;
                display: inline-block;
                min-height: 30px;
                min-width: 230px;
                max-height: 600px;
                max-width: 230px;
                z-index: 2;
            }
            > .form-control[disabled] {
                border: 1px solid #eaf1f8;
                color: #fff;
                background-color: #eaf1f8;
            }
        }
    }
    .form-select {
        display: inline-block;
        label {
            font-size: 12px;
            font-weight: inherit;
        }
        select {
            width: 100px;
            display: inline-block;
        }
        .text-muted {
            color: #a2a2a2 !important;
        }
    }
    .dropdown-dark {
        button.dropdown-toggle {
            min-width: 140px;
        }
        .dropdown-menu {
            margin-top: 1px;

            .btn {
                width: 100%;
                position: absolute;
                left: 0;
                right: 0;
                bottom: -32px;
            }
        }
    }
}

.page-toolbar.detail {
    padding: 0;
    margin-bottom: 20px;
}

// 高级搜索
.page-toolbar .form-group {
    .dropdown-search {
        position: static !important;
        .dropdown-toggle {
            padding: 7px 12px;
            margin: 0;
            margin-left: -1px;
            margin-right: -1px;
            border: 1px solid #e1ebf9;
            border-radius: 0;
            border-top-left-radius: 2px;
            border-bottom-left-radius: 2px;
        }
        .dropdown-toggle:hover,
        .dropdown-toggle[aria-expanded="true"] {
            background: #e6f4f6;
        }
        .dropdown-menu {
            right: 0;
            padding: 40px 40px 30px;
            background: #e6f4f6;
            border: 1px solid #e1ecf9;

            h5 {
                margin-bottom: 20px;
            }

            label {
                font-weight: 400;
            }

            textarea {
                height: 150px;
                min-height: 150px;
                max-height: 300px;
            }

            img {
                margin-top: 50px;
            }
        }
    }
}

// 自定义显示字段
.page-toolbar .dropdown-columns {
    .dropdown-menu {
        margin-top: 2px;
        color: #fff;
        box-shadow: none;
        min-width: 160px;
        border: 1px solid #162533;
        background: #204055;
        padding: 10px 5px;

        ul > li > a {
            display: block;
            margin: 0;
            padding: 3px 15px 3px 10px;
            border-radius: 3px;
            color: inherit;
            line-height: 25px;
            margin: 4px;
            text-align: left;
            font-weight: 400;
            white-space: nowrap;

            .fa {
                width: 20px;
                text-align: center;
                margin-right: 10px;
            }
        }
        ul > li[disabled] {
            opacity: 0.2;
            cursor: no-drop;
        }
        ul > li[disabled] > a:hover {
            cursor: no-drop;
            background-color: transparent;
        }
        ul > li > a:hover {
            background-color: #1c384a;
        }
        .dropdown-submit {
            position: absolute;
            margin-top: 12px;
            left: 0;
            right: 0;
        }
    }
}

// 分页
.page-toolbar > .paginations,
.page-notifications > .notifications-list > .inner > .toolbar > .paginations {
    float: right;
    margin-right: 1px;

    .pages {
        opacity: 0.7;
        margin-left: 4px;
        margin-right: 10px;
        line-height: 30px;
        vertical-align: middle;
        display: inline-block;
    }

    .right {
        .ant-pagination {
            float: none !important;
            width: auto;
            display: inline-block;
            line-height: 30px;
            vertical-align: middle;

            .ant-pagination-simple-pager {
                float: left;
                height: 30px;
                margin-right: 4px;
                input {
                    margin-right: 0;
                    border-color: #e0ecf9;
                    border-radius: $border-radius;
                }
                input:focus {
                    border-color: $primary;
                }
                .ant-pagination-slash {
                    margin: 0 5px 0 5px;
                }
            }
            .ant-pagination-prev, .ant-pagination-next {
                margin-top: 0;
                margin-left: 6px;
            }

            .ant-pagination-prev a, .ant-pagination-next a {
                color: #fff;
                width: 40px;
                height: 30px;
                font-size: 13px;
                font-weight: 500;
                border-color: $dark !important;
                background-color: $dark;
                border-radius: $border-radius;
            }

            .ant-pagination-disabled > a {
                opacity: 0.7;
            }
        }
    }
}

// 快速跳转不显示
.paginations.showQuickJumper_false .ant-pagination-simple-pager {
    display: none;
}

.page-toolbar {
    .tags-filter {
        display: inline-block;
        vertical-align: middle;

        .dropdown-menu {
            width: 190px;
            border: 1px solid #e0ecf9;
        }

        .btn {
            display: block;
            margin-right: 0;
            text-align: left;
            overflow: hidden;

            span.text-tag {
                padding-left: 0;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                width: 130px;
                float: left;
                display: block;
                overflow: hidden;
            }

            span.text-tag span.text-color {
                width: 12px;
                height: 12px;
                margin-right: 5px;
                padding-left: 0;
                display: inline-block;
                vertical-align: middle;
                margin-top: -1px;
            }

            span.count {
                float: right;
                color: $text-muted;
                margin-top: -18px;
            }
        }

        .btn:hover {
            background: #e6ecf3;
        }

        .other-content {
            .btn {
                clear: both;
                .icon {
                    margin-right: 5px;
                    font-size: 14px;
                }
            }
        }

        .page-toolbar {
            height: 50px;
            padding: 10px 0;
            text-align: center;

            .paginations {
                float: none !important;
            }
        }
    }

    .tags-filter.selected .dropdown-toggle {
        margin-right: 0;
        border-right: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    .tags-filter-selected {
        height: 30px;
        margin-right: 5px;
        padding: 4px 10px;
        vertical-align: middle;
        display: inline-block;
        border: 1px solid #e1ecf9;
        border-left: 0;
        border-top-right-radius: $border-radius;
        border-bottom-right-radius: $border-radius;
    }
}
