.page-tabs {
    background: #ebf1f8;
    padding: 0 20px;
    margin: 0;
    font-size: 0;

    li {
        display: inline-block;
        margin-right: 5px;

        a {
            padding: 10px 18px;
            font-size: 12px;
            display: inline-block;
            -webkit-border-radius: 3px 3px 0 0;
            -moz-border-radius: 3px 3px 0 0;
            border-radius: 3px 3px 0 0;
            background: darken($gray, 8%);
            color: $text-color;
            border-bottom: 0 none;
        }
    }
    li.selected a {
        background: #fff;
        font-weight: 700;
    }
    li:hover a {
        color: $text-color;
        background: darken($gray, 12%);
        text-decoration: none;
    }
    li.selected:hover a {
        background: #fff;
    }
    li.disabled a{
        color: rgba(255, 255, 255, 0.4);
        cursor: no-drop;
    }
    li.disabled.selected a {
        color: $text-color;
    }

}
