.org-page {
    background: #fff;
    -webkit-box-shadow: 0 1px 2px 0 rgba(161, 171, 181, 0.48), 0 2px 4px 0 rgba(213, 222, 231, 0.64);
    box-shadow: 0 1px 2px 0 rgba(161, 171, 181, 0.48), 0 2px 4px 0 rgba(213, 222, 231, 0.64);
    height: calc(100vh - 110px);

    .structure,
    .structure-detail {
        height: calc(100vh - 170px);
    }

    .structure {
        padding: 20px;
        margin-right: -25px;
    }

    .structure-content {
        height: calc(100vh - 290px);
        overflow: auto;
    }

    .structure-detail {
        border-left: 1px solid $border-color;
        .page-detail-tabs, .page-detail-tabs-content {
            box-shadow: none;
        }

        .structure-detail-box {
            height: calc(100vh - 300px);
            overflow: auto;
        }
    }

    .structure {
        .ant-tree li .ant-tree-node-content-wrapper {
            color: $text-color;
        }
        .ant-tree li span.ant-tree-switcher, .ant-tree li span.ant-tree-iconEle {
            margin-top: -3px;
            color: $text-color;
        }
    }
}

